@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Style="padding-left: 16px; padding-right: 16px">
        <MudGrid>
            <MudItem xs="1">
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            </MudItem>
            <MudItem xs="10">
                <MudContainer Style="width: 100%; text-align:center">
                    <h2>@_pageTitle</h2>
                </MudContainer>
            </MudItem>
            <MudItem xs="1">
            </MudItem>
        </MudGrid>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <MudDrawerHeader>
            <MudStack Row>
                <MudAvatar Color="Color.Primary">@_userInitials</MudAvatar>
                <MudStack Class="gap-y-0">
                    <MudText Typo="Typo.body2">@App.CurrentUser?.UserName</MudText>
                </MudStack>
            </MudStack>
        </MudDrawerHeader>
        <MudDivider />
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<MudThemeProvider Theme="@_theme" />
<MudDialogProvider />
<MudSnackbarProvider />